
<h1>My First Angular Application</h1>

<!-- <app-student></app-student>
<app-employee></app-employee> -->

<!-- <app-string-interpolation></app-string-interpolation> -->

<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-classbinding></app-classbinding> -->

<!-- <app-event-binding></app-event-binding> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-custom-service></app-custom-service> -->
<!-- <app-backend-connection></app-backend-connection> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-bootstrap-demo></app-bootstrap-demo> -->

<app-tdf></app-tdf>